@charset "UTF-8";

/* #testId {
  background: rebeccapurple;
  color: coral;
}

.test-class {
  background: green;
  color: blue;
} */

div {
  width: 400px;
  height: 400px;
  background: yellow;
  color: aqua;
  border: 10px solid red;
}